* {
    font-family:"Dosis";
}



.img1 {
    width: 2000px;
}
.h21 {
    color: rgb(46, 45, 45);
    margin-left: 920px;
    font-size: 60px;
}
.p1 {
    color: rgb(46, 45, 45);
    margin-left: 920px;
    font-size: 30px;

}
.img2 {
    width: 400px;
    margin-top: 100px;
    margin-left: 200px;
}
.h22 {
    color:rgb(46, 45, 45) ;
    margin-left: 200px;
    margin-bottom: 30px;
    font-size: 60px;
}
.p2 {
    margin-left:200px ;
    color:rgb(46, 45, 45) ;
    font-size: 30px;
}
.h23 {
    color: rgb(46, 45, 45);
    margin-left: 1500px;
    margin-bottom: 80px;
    font-size: 60px ;
}
.h24 {
    color: rgb(0, 0, 0);
    margin-left: 1500px;
    margin-bottom: 80px;
    font-size: 60px ;

}
.h25 {
    color: rgb(46, 45, 45);
    margin-left: 1500px;
    margin-bottom: 80px;
    font-size: 60px ;
}
.h26 {
    color: rgb(46, 45, 45);
    margin-left: 1500px;
    margin-bottom: 80px;
    font-size: 60px ;
}
.h27 {
    color: rgb(46, 45, 45);
    margin-left: 1500px;
    margin-bottom: 80px;
    font-size: 60px ;
}
.img3 {
    margin-left: 2000px;
    padding-bottom: 100px;
}
.img4 {
    width: 500px;
    margin-left: 980px;
    padding-top: 100px;
}
.h28 {
    color: rgb(46, 45, 45);
    font-size: 60px ;
    margin-left: 50px;
}
.p3 {
    color: rgb(46, 45, 45);
    margin-left: 50px;
    margin-bottom: 200px;
    font-size: 30px;
}
.img5 {
    width: 500px;
}
.img6 {
    width: 670px;
}